* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.area-adm-turmas-cards-container,
.area-adm-aluno-matriculado-container,
.area-adm-main-matriculas,
.area-adm-main-financeiro-alunos,
.area-adm-relatorio-aluno-encontrado,
.titulo-valor-financeiro,
.valor-financeiro,
.links-menu-burguer {
  animation: fadein 1s;
}

/* Estilização do header que será igual em todas as páginas */
header {
  background-color: #fbfbfb;
  min-height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-container {
  width: 20vw;
}

.logo-container a {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 90%;
  transition: 0.6s ease-out;
}

.logo-container img:hover {
  width: 19vw;
}

.menu {
  font-family: "Arial";
  font-size: 1.1rem;
  list-style: none;
  display: flex;
  gap: 3vw;
}
.desativado {
  display: none;
}
.menu a,
.links-menu-burguer a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #0e0e0e;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  transition: 0.8s;
}

.menu a:hover,
.links-menu-burguer a:hover {
  color: #f6c34a;
}

.menu a::after,
.links-menu-burguer a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f6c34a;
  transform-origin: bottom;
  transition: transform 0.35s ease-in;
}

.menu a:hover:after ..links-menu-burguer a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.menu-selected {
  color: #f6c34a !important;
}

.menu-burguer {
  display: none;
  width: 4vw;
  height: 4vh;
}

.menu-burguer img {
  width: 100%;
}

/* Estilização do footer que será igual em todas as páginas */
.footer-container {
  min-height: 40vh;
  font-family: "Poppins", sans-serif;
  background-color: #f6c34a;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 2vh 9vw 5vh 9vw;
}

.footer-top-content {
  height: 5vh;
}

.footer-top-content-logo {
  height: 100%;
}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.footer-endereco,
.footer-links,
.footer-redes-sociais,
.footer-area-restrita {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.mapouter {
  border: 0.1rem solid #0e0e0e;
  margin-bottom: 0.5vh;
  position: relative;
  text-align: right;
  height: inherit;
  width: inherit;
}

.footer-list-links,
.footer-list-pocoes-area-adm {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.footer-list-links a,
.footer-list-links a:link,
.footer-list-links a:visited .footer-list-pocoes-area-adm a,
.footer-list-pocoes-area-adm a:link,
.footer-list-pocoes-area-adm a:visited {
  text-decoration: none;
  color: initial;
}

.footer-list-redes-sociais {
  height: 4vh;
  display: flex;
  gap: 0.7vw;
}

.footer-bottom-content img {
  height: 100%;
}

/* Estilização icone de whatsapp fixo no canto direito inferior*/
.icone-whatsapp {
  position: fixed;
  bottom: 8vh;
  right: 3vw;
  width: 4rem;
  z-index: 1;
  transition: 0.8s ease-in-out;
}

.icone-whatsapp:hover {
  width: 5rem;
}

/* ESTILIZAÇÃO PÁGINA HOME */
/* Estilização do top-content da página home */
.top-content {
  background-color: #f6c34a;
  background-image: url("./assets/background-hero.png");
  background-repeat: no-repeat;
  min-height: 80vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

#titulo-top-content {
  color: #0e0e0e;
  font-size: 1.8rem;
}

#frase-top-content {
  color: #0e0e0e;
  font-weight: 400;
  font-size: 1.2rem;
}

#botao-conheca-cursos {
  font-weight: 700;
  margin-top: 4vh;
  text-decoration: none;
  color: #fbfbfb;
  background-color: #0e0e0e;
  padding: 2vh 3vw;
  border-radius: 0.3vw;
  transition: 0.6s ease-in;
}

#botao-conheca-cursos:hover {
  color: #f6c34a;
}

/* Estilização do middle-content da página home (sobre nós)*/
.middle-content {
  background-color: #0e0e0e;
  padding: 15vh 20vw 10vh 20vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  justify-content: center;
  align-items: center;
}

#titulo-middle-content {
  color: #fbfbfb;
  font-family: "Poppins", sans-serif;
}

#sobre-nos-middle-content {
  color: #fbfbfb;
  line-height: 4.5vh;
  font-family: "Open Sans", sans-serif;
}

/* Estilização do bottom-content da página home (depoimentos)*/
.bottom-content {
  background-color: #0e0e0e;
  padding: 0 6vw 18vh 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
}

#titulo-bottom-content {
  color: #fbfbfb;
  font-family: "Poppins", sans-serif;
}

.depoimentos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.depoimentos-card {
  background-color: #fbfbfb;
  width: 17rem;
  margin-top: 5vh;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  border-radius: 0.5vw;
  font-family: "Open Sans", sans-serif;
}

.foto-depoimento img {
  width: 75%;
  border-radius: 100%;
}

.foto-depoimento {
  display: flex;
  justify-content: center;
}

/* ESTILIZAÇÃO PÁGINA CURSOS */
/* Estilização do top content da página de cursos(cards dos cursos com uma curta descrição */
.cursos-top-content {
  min-height: 80vh;
  background-color: #f6c34a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4vh 8vw;
}

.cursos-descricao-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
  padding: 4vh 8vw;
}

.cursos-card {
  background-color: #fff;
  width: 18rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
}

.cursos-cards-titulo {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.cursos-cards-descricao {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
}

.botao-quero-fazer-parte {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fbfbfb;
  background-color: #0e0e0e;
  padding: 1rem 5rem;
  border-radius: 0.3rem;
  transition: 0.6s ease-in;
}

.botao-quero-fazer-parte:hover {
  color: #f6c34a;
}

/* Estilização do bottom content da página de cursos (cards dos cursos com conteúdo dos módulos*/
.cursos-bottom-content {
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10vh 12vw;
}

.cursos-bottom-content-card {
  background-color: #fbfbfb;
  width: 60rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 2rem 3rem;
  border-radius: 0.3rem;
  font-family: "Poppins", sans serif;
}

.cursos-modulo {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.cursos-conteudo-modulo {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
}

/* ESTILIZAÇÃO PÁGINA CONTATO */
/* Estilização do form-content da página de contato (formulário simples de fale conosco)*/
.contato-content {
  background-color: #0e0e0e;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
}

.contato-formulario {
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  border-radius: 0.2rem;
}

.contato-form-grupo {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.botao-enviar-contato {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  height: 2.5rem;
  background-color: #f6c34a;
  border: 0;
  padding: 0.5rem 4rem;
  border-radius: 0.2rem;
  align-self: stretch;
  text-align: center;
  text-decoration: none;
  transition: 0.6s ease-in;
}

.botao-enviar-contato,
.botao-enviar-contato:link,
.botao-enviar-contato:visited {
  color: #0e0e0e;
}

.botao-enviar-contato:hover {
  background-color: #0e0e0e;
  color: #f6c34a;
}

.contato-inputs {
  height: 2rem;
}

.contato-inputs,
.contato-form-grupo textarea {
  font-size: 0.85rem;
  font-family: "Poppins", sans-serif;
  padding: 0.15rem;
}

/* ESTILIZAÇÃO PÁGINA ÁREA ADMIN */
/* Estilização do menu lateral da página de area-adm (menu à esquerda)*/
.area-adm-main-container {
  display: flex;
}

.area-adm-menu-lateral {
  width: 25vw;
  background-color: #0e0e0e;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.area-adm-menu-lateral ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

/* ESTILIZAÇÃO DE LINKS E LAYOUTS PARA VISUALIZAÇÃO */
/* Classes para estilizar links e alternar visibilidade de layouts da area adm */
#area-adm-turmas-link,
#area-adm-matriculas-link,
#area-adm-financeiro-link {
  text-decoration: none;
}

.link-ativado-visited:visited {
  color: #f0f0f0;
}

.link-desativado-visited:visited {
  color: #707070;
}

.layout-desativado {
  display: none !important;
}

.layout-ativado {
  display: block !important;
  width: 100%;
}

.link-desativado {
  color: #707070;
}

.link-ativado {
  color: #f0f0f0;
}

/* Estilização do right-content da página de area-adm (conteúdo da direita)*/
.area-adm-right-content {
  background-color: #f6c34a;
  border-bottom: 0.1rem solid #0e0e0e;
  width: 75vw;
  min-height: 100vh;
  padding: 3rem 0;
  border-bottom: 0.1rem solid #0e0e0e;
  display: flex;
  justify-content: center;
}

/* Estilização do right-content da página de area-adm (conteúdo da direita) OPÇÃO TURMAS*/
.area-adm-busca-turmas {
  background-color: #f6c34a;
  width: 75vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.area-adm-busca-container {
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: 0.5rem;
}

#area-adm-caixa-texto {
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  width: 20rem;
  height: 100%;
  padding-left: 1rem;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  border: 0px;
}

.area-adm-botao-buscar {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  height: 100%;
  text-decoration: none;
  background-color: #0e0e0e;
  color: #f0f0f0;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  transition: 0.6s ease-in;
}

.area-adm-botao-buscar:hover {
  color: #f6c34a;
}

.area-adm-turmas-cards-container {
  display: flex;
  padding: 0 2rem;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.area-adm-turmas-card {
  background-color: #fff;
  font-family: "Open Sans", sans serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

.area-adm-turma-info {
  font-weight: 700;
}

.area-adm-turmas-card h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  align-self: center;
}

/* Estilização do right-content da página de area-adm (conteúdo da direita) OPÇÃO MATRÍCULAS*/
.area-adm-main-matriculas {
  display: none;
  width: 100%;
}

.area-adm-matriculas-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10vw;
}

.area-adm-matriculas-form {
  font-family: "Poppins", sans-serif;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
  padding: 1rem;
}

.area-adm-matriculas-form label {
  font-size: 0.9rem;
  font-weight: 700;
}

.area-adm-matriculas-form input {
  margin-bottom: 0.6rem;
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
}

.area-adm-matriculas-form h2,
.area-adm-aluno-matriculado h2 {
  margin-bottom: 1.5rem;
}

.area-adm-botao-matricular,
.area-adm-botao-matricular:link,
.area-adm-botao-matricular:visited {
  color: #f0f0f0;
}

.area-adm-botao-matricular {
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #0e0e0e;
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 700;
  border-radius: 0.3rem;
  text-align: center;
}

.area-adm-aluno-matriculado {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.area-adm-aluno-matriculado img {
  margin-left: 2rem;
}

.area-adm-aluno-matriculado h2 {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
}

.area-adm-aluno-matriculado p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

/* Estilização do right-content da página de area-adm (conteúdo da direita) OPÇÃO FINANCEIRO ALUNOS*/
.area-adm-main-financeiro-alunos {
  display: none;
  width: 100%;
}

.area-adm-financeiro-alunos-container {
  padding: 0 12vw;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.area-adm-financeiro,
.area-adm-relatorio-aluno {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 0.2rem;
}

.area-adm-financeiro h2,
.area-adm-relatorio-aluno h2 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.area-adm-financeiro label,
.area-adm-relatorio-aluno label {
  font-size: 0.9rem;
  font-weight: 700;
}

.area-adm-financeiro input,
.area-adm-relatorio-aluno input {
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
}

.area-adm-botao-financeiro {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: #0e0e0e;
  width: 100%;
  color: #f0f0f0;
  text-decoration: none;
  padding: 0.5rem 0;
  margin: 2rem 0;
  border-radius: 0.3rem;
}

.adiciona-curso {
  color: #0e0e0e;
  font-size: 0.8rem;
}

.area-adm-financeiro p {
  margin-bottom: 0.8rem;
}

.area-adm-relatorio-aluno-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.area-adm-relatorio-aluno-encontrado {
  font-family: "Poppins", sans-serif;
}

/* Estiliza inputs da area adm das seções matricula e financeiro-alunos */
.area-adm-matriculas-form input,
.area-adm-financeiro input,
.area-adm-relatorio-aluno input {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0 0.5rem;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE */
@media screen and (min-width: 700px) and (max-width: 1300px) {
  html {
    font-size: 14px;
  }
  /* HEADER */
  .menu {
    gap: 5vw;
  }
  /* FOOTER */
  .footer-top-content {
    display: flex;
    justify-content: center;
  }
  .footer-bottom-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
  }
  .footer-endereco {
    display: none;
  }
  /* CURSOS */
  .cursos-descricao-cards-container {
    padding: 0;
    flex-wrap: wrap;
  }
  .cursos-card {
    width: 30rem;
  }
  .cursos-bottom-content-card {
    width: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cursos-bottom-content-titulo {
    grid-column: 1/3;
    text-align: center;
  }
  .cursos-titulo-modulo,
  .cursos-conteudo-modulo {
    text-align: center;
  }

  /* AREA ADM */
  .area-adm-main-container {
    flex-direction: column;
  }
  .area-adm-menu-lateral {
    width: 100vw;
    padding: 2vh;
  }
  .area-adm-menu-lateral ul {
    flex-direction: row;
    gap: 10rem;
  }
  .area-adm-right-content {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .area-adm-busca-turmas {
    width: 100%;
  }
  .area-adm-financeiro,
  .area-adm-relatorio-aluno {
    width: 18rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 699px) {
  /* HEADER */
  header {
    justify-content: space-between;
    padding: 0 6vw;
  }

  .menu-burguer {
    display: block;
  }
  .menu {
    display: none;
  }
  .links-menu-burguer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    transition: 0.6s ease-in-out;
    transform-origin: bottom;
  }
  /* FOOTER */
  .footer-top-content {
    text-align: center;
  }

  .footer-bottom-content {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .footer-endereco,
  .footer-links,
  .footer-list-links,
  .footer-redes-sociais,
  .footer-area-restrita {
    align-items: center;
  }

  .footer-list-redes-sociais,
  .footer-list-pocoes-area-adm {
    justify-content: center;
    text-align: center;
  }

  /* HOME PAGE */
  #frase-top-content {
    font-size: 1rem;
  }
  .depoimentos-card p {
    text-align: center;
  }

  /* CURSOS */
  .cursos-bottom-content-card {
    flex-direction: column;
    width: auto;
    padding: 2rem 4rem;
  }
  .cursos-titulo-modulo,
  .cursos-conteudo-modulo {
    text-align: center;
  }
}
